---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }} 
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }} 
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>


<div class="wrapper" align="center">
<b>(The End)</b>
<br>
<br>
<br>
</div>

<!--
<footer class="site-footer h-card">
</footer>
-->

<table>
  <tr>
  <td align="center">
  <font size="3" face="Verdana" bold="true">觉得文章写的还不错?欢迎打赏!</font>
  </td>
  </tr>
  <tr>
  <td>
    <table>
    <tr>
    <td>
    <img src="/image/wx_m.jpg" alt="AltText" />
    </td>
    <td>
    <img src="/image/zfb_m.jpg"  alt=""  />
    </td>
    </tr>
    </table>
  </td>
  </tr>
</table>
